.recipe-container{

outline: 20px;
outline-color:black;
width: auto;
height: auto;
}

.recipe-container:hover{
    transform: scale(1.1);
    transition:ease-in-out 2ms;
    transition-duration: 2ms;
}

.header{
    text-align: center;
}

.ingredients-list{
    outline-width: medium;
    outline-color: gainsboro;
    outline-style: outset;
    height: 800px;
    width:600px;

    background-color: white;


}

.directions{
    outline-width: medium;
    outline-color: gainsboro;
    outline-style: outset;
    background-color: white;

    height: fit-content;
    width: 600px;
    word-wrap: normal;
}

body{
    background-color: antiquewhite;
    
}

.Recipe-wrapper{
    background-color: white;
    text-align: center;
    margin:auto;
    

    padding-top: 100px;
    padding-bottom: 100px;
}